name: test
on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Golang
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: checkout
        uses: actions/checkout@v2

      - name: test
        run: go test -v
