name: test
on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: checkout
        uses: actions/checkout@v6

      - name: test
        run: go test -v
